/* -- General Layout -- */

/* Navigation */

#nav, #nav-left {
  a {
    display: block;
    color: $background-color;
    padding: 0.33334em 0;
    font-size: 1.5em;
    font-weight: 400;
    @media (min-width: 940px) {
      font-size: 1em;
    }
    &:hover {
      background-color: lighten($main-color, 5%);
    }
  }
  span {
      font-weight: 200;
    }
}

#nav {
  @include nav-position(right);
}

#nav-left {
  @include nav-position(left);
}

/* Toggle class to open menu */

#nav.menu-open {
  @include open(-14rem);
}

#nav-left.menu-open-left {
  @include open(14rem);
}

/* Separator after menu */

#nav-list:after {
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 23px auto;
  background-color: $background-color;
}

/* Icon menu */

#nav-menu {
  @include icon-position(right);
}

#nav-menu-left {
  @include icon-position(left);
}

#menu {
  height: 4px;
  width: 1.5em;
  background-color: lighten($text-color, 35%);
  margin-top: 8px;
  &:after, &:before {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    width: 1.5em;
    background-color: lighten($text-color, 35%);
    transition: all 0.3s ease-in;
  }
  &:before {
    top: -8px;
  }
  &:after {
    top: 4px;
  }
  &.btn-close {
    background: none;
  }
  &.btn-close:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: $background-color;
  }
  &.btn-close:after {
    top: -4px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: $background-color;
  }
}

/* Main content */

.fixed {
  position: fixed;
  width: 100%;
  @media (min-width: 940px) {
    position: static;
  }
}

#container {
  margin: 0 auto 5% auto;
	max-width: 730px;
	padding: 0 1.5rem;
}

#header {
	text-align: center;
  padding: 24px 0;
  position: relative;
  a {
  	text-decoration: none;
  	color: $text-color;
  	display: block;
  }
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
    min-height: 100%;
    max-width: 75%;
  }
  h1 {
  	font-size: 0;
    font-weight: 600;
  }
  &:after {
  	display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: lighten($text-color, 70%);
  }
}

/* Posts */

#posts {
  li {
    list-style-type: none;
    cursor:pointer;
  }
  h3{
    color:$text-color;
  }
}

#post-page {
  margin-bottom: 1.5em;
  @media (min-width: 940px) {
      margin-bottom: 1.3334em;
    }
}

.post+.post:before {
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: lighten($text-color, 70%);
  }

.by-line {
  display: block;
  color: lighten($text-color, 25%);
  line-height: 1.5em; /* 24px/16px */
  margin-bottom: 1.5em; /* 24px/16px */
  font-weight: 200;
  @media (min-width: 940px) {
    display: block;
    color: lighten($text-color, 25%);
    line-height: 1.3334em; /* 24px/18px */
    margin-bottom: 1.3334em; /* 24px/18px */
    font-weight: 200;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}

img[title="Emerald"] {
    box-shadow: 0 2px 6px #ddd;
  }

code {
  color: lighten($text-color, 35%);
  background-color: lighten($background-color, 35%);
}

/* Set the vertical rhythm (and padding-left) for lists inside post content */

.content ul, .content ol {
  line-height: 1.5em; /* 24px/16px */
  padding-left: 1.5em;
  @media (min-width: 940px) {
    line-height: 1.33334em; /* 24px/18px */
  }
}

/* Pages */

#page ul, #page ol {
  padding-left: 1.5em;
}

/* Paginator */

.pagination {
  text-align: center;
  margin: 2.666668em;
  span {
    background-color: darken($background-color, 5%);
    color: $text-color;
  }
  a:hover {
    background-color: lighten($main-color, 5%);
  }
}
.page-item {
  background-color: $main-color;
  color: $background-color;
  padding: 4px 8px;
  font-weight: 400;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}

/* Footer */

footer {
  background-color: $main-color;
  color: $background-color;
  text-align: center;
  padding: 0.6667em 0;
  position: relative;
  display:block;
  float: left;
  width: 100%;
  span{
    width:100%;
    float:left;
  }
}


/* Form */

form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 5% auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form input, textarea {
  font-family: inherit;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
form button {
  font-family: inherit;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.submitButton{
    background-color: $main-color;
    cursor:pointer;
    transition: .3s ease;
    &:hover{
      background-color: darken($main-color, 15%);
      color: $background-color;
    }
  }
form button:hover,form button:active,form button:focus {
  background: #43A047;
}
.socialDiv{
  float: left;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}
.social{
  position: relative;
  width: 150px;
  max-height: 90px;
  float: left;
  display: block;
  margin: 20px 0;
  transition: .4s ease;
  cursor:pointer;
  &:hover{
    svg{
      fill: darken($main-color, 10%)
    }
  }
  a{
    color: $background-color;
  }
  svg{
    fill: $background-color;
    height:100px;
      transition: .4s ease;
  }
}
.facebook{
  svg{
    max-height: 78px;
    margin-top: 11px;
  }
}
